* {
  margin: 0;
  padding: 0;
  border: 0;
}

#navbar {
  display: inline-block;
  width: 30vw;
  vertical-align: top;
  padding: 10px;
}
#navbar header {
  text-align: center;
}
#search-box {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 5px;
  width: 80%;
  margin: 15px 0;
}
#navbar a {
  display: block;
  width: fit-content;
  margin: 5px;
}
#main-doc {
  display: inline-block;
  width: 60vw;
  padding: 10px;
  border-left: 2px solid black;
}

@media (max-width: 720px) {
}
